.app-wrapper{
    display: grid;
    margin: 0 auto;
    width: 1200px;
    grid-template-areas:
"header header"
"nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header{
    grid-area: header;
    background-color: #eed8f6;
}
.header img{
    width: 50px;
}
.nav{
    grid-area: nav;
    background-color: #eed8f6;
}
.nav ul{
    list-style: none;
    padding-inline-start: 0;
}
.content{
    grid-area: content;
}
.content img {
    height: 200px;
    width: 100%;
}

img .ava {
    width: 40px;
}